.page-not-found {
  color: red;
}

.error-color{
  color: red;
}

.medium-font-size{
  font-size: 20px;
}

.blue-font{
  color: blue;
}
.email-font{
  color: blue;
  font-size: 24;
  font-weight: bold;
}